<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Todo App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">

</head>

<body ng-controller="WelcomeCtrl">

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="#/welcome">Home</a>
            <a class="blog-nav-item " href="#/addTodo">Add Post</a>
            <a class="blog-nav-item " style="cursor:pointer;" ng-click="logout();">Logout</a>
        </nav>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>Todo list</h1>
    </div>
    <p class="lead">Welcome <b>{{username}}</b>, to your personal todo list !!</p>

    <div class="list-group" ng-repeat="todo in todos">
        <a href="#" class="list-group-item active" ng-if="username == todo.emailId" onclick="return false;">
            <h4 class="list-group-item-heading">{{todo.title}}</h4>
            <p class="list-group-item-text">{{todo.description}}</p>
            <span class="pull-right">
                <button class="btn btn-xs btn-warning" ng-click="deleteTodo(todo.$id)">DELETE</button>
            </span>
        </a>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <p class="text-muted"></p>
    </div>
</footer>

</body>

</html>